services:
  - type: web
    name: hypemode-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: hypemode-mysql
          property: connectionString
      - key: FRONTEND_URL
        value: https://hypemode-ecommerce-finalproject-fe.vercel.app

databases:
  - name: hypemode-mysql
    plan: free
    databaseName: hypemode_ecommerce
    user: hypemode_user

